ul{
    display: flex;
    flex-direction: column;
}
.dropdown-toggle::after {
    display: none;
   
  }
.dropdown-menu{
    background-color: #000000;
   min-height: 100vh;
   position: absolute;
}
.dropdown-item{
    background-color: #000000;
    color: white;
}
.dropdown{
    margin-top: 50%;
}